# [string] TCP 监听地址，不填则不启用 TCP 服务
# 示例: 0.0.0.0:29875
tcp_bind = ""

# [string] QUIC 监听地址，不填则不启用 QUIC 服务
# 示例: 0.0.0.0:29876
quic_bind = ""

# [string] WSS 监听地址，不填则不启用 WSS 服务
# 示例: 0.0.0.0:29877
ws_bind = ""

# [string] 必填 默认虚拟网段
# 示例: 10.26.0.0/24
network = ""

# [array] 网络编号白名单，留空则不限制
white_list = []

# [int] IP 租约时长，单位秒，默认 86400 即 24 小时
lease_duration = 86400

# [string] Web 管理端绑定地址，填写后可访问 WebUI
# 示例: 0.0.0.0:29878
web_bind = ""

# [string] Web 管理登录用户名
username = "admin"

# [string] Web 管理登录密码
password = "admin"

# [bool] 是否启用数据持久化，重启后保留 IP 分配记录
persistence = true

# [string] 自定义 TLS 证书路径，不填则自动生成
cert = ""

# [string] 自定义 TLS 私钥路径，不填则自动生成
key = ""

# [section] 自定义虚拟网段映射表
# 示例: 10.25.0.0/24
[custom_nets]